body {
  /* background: #272c31; */
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

#container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
}

.presentation {
  flex-basis: 75%;
}

.menu-container {
  background-color: #34495e;
  flex-basis: 25%;
  height: 100%;
  overflow: hidden;
}

.menu {
  overflow: auto;
  height: 100%;
  width: 110%;
}

.menu-item {
  color: black;
  border-bottom: 2px solid white;
  height: 3em;
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 2em;
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
  margin-left: 1em;
  margin-right: 1em;
}

.test {
  height: 10%;
  width: 10%;
  background: pink;
}

.card {
  position: relative;
  background: none;
  width: 80%;
  margin-left: 2%;
  margin-top: 2%;
  float: left;
  overflow: auto;
}

.card-picture {
  position: relative;
  width: 100%;
  right: 0;
}

.card-libs {
  position: relative;
  float: left;
  width: 10%;
  text-align: center;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  left: 3%;
}

.single-lib {
  float: left;
  display: inline-block;
}

.lib-pic {
  background: none;
  height: 80%;
  max-height: 128px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
  margin-top: 2px;
}

.lib-pic:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.card-description {
  color: #1d1e1f;
  margin-top: 10px;
  float: left;
  width: 80%;
  margin-left: 2%;
}

.buttons-container {
  margin-bottom: 1em;
}

.presentation-button {
  background: none;
  color: #ecf0f1;
  cursor: pointer;
  border: 1px solid white;
}

.card-url, .card-git, .filter-button, .toggle-button {
  float: right;
  background: none;
  color: #ecf0f1;
  cursor: pointer;
  border: 1px solid white;
  margin-left: 2px;
}

.toggle-button-container {
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
}

.easy {
  color: #17bf17;
}

.difficult {
  color: #ff3d3d;
}

.challenge-container {
  margin-top: 2em;
  margin-left: 2em;
  position: absolute;
}

.challenge-container a {
  color: #87b7e8;
  text-decoration: none;
}

.challenge-description {
  margin-bottom: 2em;
  margin-left: 2em;
}

.challenge-output {
  margin-top: 2em;
  margin-left: 2em;
}

.challenge-input {
  padding: 2px;
  background: none;
  color: white;
}

.alerts {
  position: fixed;
  bottom: 2em;
}

.landingLib {
  width: 42px;
  margin-left: 5px;
  position: absolute;
}

.libs-appear {
  opacity: 0.01;
}

.libs-appear.libs-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.nav-mobile {
  background: #f7f7f7;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 100;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.nav-embed {
  background: #212121;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.about-me {
  background: #212121;
  height: 60%;
}

.image {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-title {
  text-align: center;
  height: 2em;
  color: #716f6f;
}

.card-overlay {
  width: 100%;
  height: 101%;
  background: black;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.libs-container {
  margin-left: 50px;
}

.landing-button-container {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}

.landing-git, .landing-url {
  z-index: 100;
  text-decoration: none;
  font-size: 1.3em;
  color: #f3f3f3;
  -webkit-transition: color 1s;
  transition: color 1s;
  margin-left: 5px;
  margin-right: 5px;
}

.landing-url:hover {
  color: #E91E63;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.landing-git:hover {
  color: #0277BD;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.touch-but {
  background: gold;

}

.nav-icons {
  float: left;
}

.nav-icon {
  margin-left: 1em;
}

.nav-links {
  font-size: 1.2em;
  float: right;
  margin-right: 10%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(50%);
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

.nav-button:hover, .nav-icon:hover {
  color: #b2b2b2;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.about-single-tech {
  text-align: center;
}

.about-single-tech > * {
  display: block;
}

.about-single-tech {
  width: 100px;
}

.about-tech-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-img-container {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  bottom: 2%;
}

.power-bar-container {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  bottom: 20%;
  left: 1em;
}

.power-bar {
  background-color: green;
  height: 5px;
  background: -webkit-linear-gradient(left, red , green);
  background: -o-linear-gradient(right, red, green);
  background: -moz-linear-gradient(right, red, green);
  background: linear-gradient(to right, red , green);
}

.single-tech {
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s;
}

.single-tech:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s;
}

@media only screen and (max-width: 800px) {
  .presentation {
    flex-basis: 100%;
  }

  .menu-container {
    flex-basis: 100%;
    align-self: flex-end;
    margin-left: 2%;
  }

  .card-url, .card-git, .filter-button {
    font-size: 0.6em;
    border: none;
  }

  .card-libs {
    width: 100%;
    height: 15%;
    display: block;
  }

  .single-lib {
    margin-left: 2px;
  }

  .card {
    position: relative;
    background: none;
    width: 100%;
  }

  .card-description {
    width: 100%;
  }

  .single-tech {
    width: 32px;
    height: 32px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .nav-links {
    font-size: 1em;
  }

  .nav-icon {
    margin-left: 3px;
  }

  .single-tech-name {
    font-size: 0.6em;
  }

  .about-single-tech {
    width: 50px;
  }
}

@media only screen and (max-width: 400px) {
  .single-tech {
    width: 24px;
    height: 24px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .about-single-tech {
    width: 32px;
  }
}
